---
layout: main
---

<p>
	<strong>Posted: </strong> {{ date | niceDate }}<br/>
	<strong>Categories:</strong>
	{% for cat in categories %}
	<a href="/categories/{{ cat | slug }}">{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
	{% endfor %}
</p>

{{ content }}